/*-- Force slide number to bottom left --*/
.reveal .slides .slide-number,
.reveal .slide-number {
  position: fixed !important;
  bottom: 15px !important;
  left: 200px !important;
  top: auto !important;
  right: auto !important;
  transform: none !important;
}


/*-- Logo Size --*/
.reveal .slide-logo {
  max-height: 200px !important;
  max-width: 400px !important;
  position: fixed !important;
  bottom: 5px !important;
  right:5px !important;
  top: auto !important;
  left: auto !important;
}