/*-- put the slide number on the bottom left --*/
.reveal .slide-number {
  position: fixed; !important
  bottom: 15px; !important
  left: 200px; !important
  top: auto; !important
  right: auto; !important
}


/*-- Logo Size --*/
.reveal .slide-logo {
  max-height: 200px !important;
  max-width: 400px !important;
  position: fixed !important;
  bottom: 5px !important;
  right:5px !important;
  top: auto !important;
  left: auto !important;
}