/*-- put the slide number on the bottom left --*/
.reveal .slide-number {
  position: fixed;
  bottom: 15px;
  left: 200px;
  top: auto;
  right: auto;
}


/*-- Logo Size --*/
.reveal .slide-logo {
  max-height: 200px !important;
  max-width: 400px !important;
  position: fixed !important;
  bottom: 5px !important;
  right:5px !important;
  top: auto !important;
  left: auto !important;
}